<ion-view view-title="Browse" class="app_background">

    <ion-header-bar class="bar-stable header">
        <div class="header_icon"></div>
    </ion-header-bar>
    <ion-content has-bouncing="false">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" class="slider_background">
            <ion-slide>

                <div class="feedback_form">
                    <h1>Tell us what you think!</h1>

                    <div class="form_column_left">
                        <label class="item item-input item-select form_dropdown ">
                            <div class="input-label select_label long-input-label">Do you currently have a job
                                management back office system in place?
                            </div>
                            <select ng-model="system" ng-change="showSystem(system)">
                                <option value="">Please Select...</option>
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </label>

                        <input type="text" class="form_input" placeholder="Current software/system currently used?"
                               ng-model="systemName" maxlength="100" ng-show="showSys">
                        <input type="number" class="form_input" placeholder="Cost of current system? (£)"
                               ng-model="systemCost" ng-show="showSys">

                        <label class="item item-input item-select form_dropdown " ng-show="showSys">
                            <div class="input-label select_label">How do you pay?</div>
                            <select ng-model="systemPayment">
                                <option value="">Please Select...</option>
                                <option value="1000000">One off</option>
                                <option value="1000001">Monthly</option>
                                <option value="1000002">Quarterly</option>
                                <option value="1000003">Biannually</option>
                                <option value="1000004">Annually</option>

                            </select>
                        </label>

                        <textarea class="form_textarea" ng-model="systemNotes" placeholder="Additional Comments?"
                                  ng-show="showSys"></textarea>



                    </div>
                    <div class="form_column_right">
                        <label class="item item-input item-select form_dropdown ">
                            <div class="input-label select_label">Would you like a follow up demo?</div>
                            <select ng-model="demo" ng-change="showDemo(demo)">
                                <option value="">Please Select...</option>
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </label>

                        <div class="date_container" ng-show="showDem">
                            <label class="form_label">1st Preferred Date?<br></label>
                            <input type="date" class="form_input" ng-model="date1">
                        </div>
                        <div class="date_container" ng-show="showDem">
                            <label class="form_label">2nd Preferred Date?<br></label>
                            <input type="date" class="form_input" ng-model="date2">
                        </div>


                        <label class="item item-input item-select form_dropdown ">
                            <div class="input-label select_label">Did you like the UI?</div>
                            <select ng-model="ui" ng-change="showUI(ui)">
                                <option value="">Please Select...</option>
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </label>

            <textarea class="form_textarea" ng-model="uiComments"
                      placeholder="Additional Comments?" ng-show="showU"></textarea>
                    </div>
                </div>
            </ion-slide>
            <ion-slide ng-controller="AppController">
                <div class="feedback_form">
                    <h1>Tell us what you think!</h1>
                    <div class="form_column_left">
                        <div class="switch_container">

                            <label class="item item-input item-select form_dropdown ">
                                <div class="input-label select_label">Did the process make sense?</div>
                                <select ng-model="sense" ng-change="showSense(sense)">
                                    <option value="">Please Select...</option>
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </label>

            <textarea class="form_textarea" ng-model="senseComments"
                      placeholder="Additional Comments?" ng-show="showSen"></textarea>

                        </div>

                        <label class="item item-input item-select form_dropdown ">
                            <div class="input-label select_label long-input-label">Any part of the process you wouldn't
                                use?
                            </div>
                            <select ng-model="process" ng-change="showProcess(process)">
                                <option value="">Please Select...</option>
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </label>

            <textarea class="form_textarea" ng-model="processComments"
                      placeholder="Additional Comments?" ng-show="showPro"></textarea>

                    </div>

                    <div class="form_column_right">

                        <label class="item item-input item-select form_dropdown ">
                            <div class="input-label select_label long-input-label">Any features you would like added?
                            </div>
                            <select ng-model="features" ng-change="showFeatures(features)">
                                <option value="">Please Select...</option>
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </label>

            <textarea class="form_textarea" ng-model="featuresComments"
                      placeholder="Additional Comments?" ng-show="showFeat"></textarea>

                        <label class="item item-input item-select form_dropdown ">
                            <div class="input-label select_label">Would you utilise tablets or phones?</div>
                            <select ng-model="mobile">
                                <option value="">Please Select...</option>
                                <option value="1000000">Tablets</option>
                                <option value="1000001">Phones</option>
                                <option value="1000002">Both</option>
                            </select>
                        </label>


                        <!--<label class="item item-input item-select form_dropdown ">-->
                            <!--<div class="input-label select_label">Do you have a SIM contract in-place?</div>-->
                            <!--<select ng-model="sim">-->
                                <!--<option value="">Please Select...</option>-->
                                <!--<option value="1">Yes</option>-->
                                <!--<option value="0">No</option>-->
                            <!--</select>-->
                        <!--</label>-->

                    </div>

                    <div class="button_area">
                        <div class="button top_margin" ng-click="finish()">Finish</div>
                    </div>
                </div>
            </ion-slide>
        </ion-slide-box>

        <div class="button bottom_none back_button" ng-click="startAgainButton()">Back</div>
    </ion-content>

</ion-view>


