<ion-view view-title="Browse">
  <ion-header-bar class="bar-stable header">
    <div class="header_icon"></div>
  </ion-header-bar>

  <ion-content class="app_background" ng-controller="AppController">


    <div class="lead_form">
      <h1>Lead Page</h1>
      <div class="form_column_left">
        <!--<input type="text" class="form_input" placeholder="Topic" ng-model="topic">-->
        <textarea class="form_textarea" ng-model="topic" placeholder="Topic" maxlength="300"></textarea>
        <input type="text" class="form_input" placeholder="First Name" ng-model="firstName" maxlength="50" >
        <input type="text" class="form_input" placeholder="Surname" ng-model="surname"  maxlength="50">
        <input type="text" class="form_input" placeholder="Job Title" ng-model="job" maxlength="100">
        <input type="text" class="form_input" placeholder="Telephone" ng-model="telephone" maxlength="20">
        <input type="text" class="form_input" placeholder="Email" ng-model="email" maxlength="100">
      </div>
      <div class="form_column_center">
        <input type="text" class="form_input" placeholder="Lead Source" ng-model="lead">
        <input type="text" class="form_input" placeholder="Company" ng-model="company" maxlength="100">
        <input type="text" class="form_input" placeholder="Industry" ng-model="industry">
        <input type="text" class="form_input" placeholder="Website" ng-model="website" maxlength="200">
        <input type="text" class="form_input" placeholder="Street" ng-model="street" maxlength="250">
        <input type="text" class="form_input" placeholder="City" ng-model="city" maxlength="80">
        <input type="text" class="form_input" placeholder="Post Code" ng-model="postcode" maxlength="20">
      </div>
      <div class="form_column_right">
        <input type="text" class="form_input" placeholder="Number of Office Staff" ng-model="staff">
        <input type="text" class="form_input" placeholder="Number of Operatives" ng-model="operatives">
        <textarea class="form_textarea" ng-model="notes" placeholder="Additional Notes"></textarea>
        <div class="button_area">
          <div class="button top_margin" ng-click="leadButtonFinish()">Finish</div>
          <div class="button bottom_none" ng-click="feedbackButton()">Go to Feedback</div>
        </div>
      </div>
    </div>

  </ion-content>

</ion-view>
