/* Empty. Add your own CSS if you like */
@font-face {
  font-family: 'Poiret One';
  src: url('../fonts/PoiretOne-Regular.ttf');
}

body {
  font-family: "Poiret One";
}

h1 {
  color: #00b0b7;
  font-weight: lighter;
  font-family: "Poiret One";
  font-size: 50px;
  text-align: left;
  margin-bottom: 30px;
}

.header_icon {
  background: url('../img/IC-logo-main-bkg.png');
  background-size: 100% auto !important;
  background-repeat: no-repeat;
  width: 170px;
  height: 48px;
  margin-top: 8px;
  margin-left: 21px;
}

.app_background {
  width: 100%;
  height: calc(100% - 79px);
  background: url('../img/app_background.jpg');
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  top: 80px !important;
}

.header {
  background: #fff !important;
  height: 80px !important;
}

.button {
  background: none;
  border: 2px solid #00b0b7;
  border-radius: 8px;
  color: #00b0b7;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 15px;
  min-width: 150px;
  float: right;
}

.form_input {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #464646;
  border-radius: 5px;
  color: #fff !important;
  padding-left: 15px !important;
  margin-bottom: 20px;
  width: 100%;
}

.form_dropdown {
  background-color: #464646;
  border-radius: 5px;
  color: #fff !important;
  padding-left: 15px !important;
  margin-bottom: 20px;
  width: 100%;
  border: none;
  padding-top: 6px;
  padding-bottom: 6px;
}

.form_column_left {
  float: left;
  width: 30%;
}

.form_column_center {
  display: inline-block;
  width: 30%;
}

.form_column_right {
  float: right;
  width: 30%;
}

.form_textarea {
  background-color: #464646;
  border-radius: 5px;
  color: #fff !important;
  width: 100%;
  height: 150px;
  max-width: 100%;
  max-height: 150px;
  padding-left: 15px;
  padding-top: 10px;
}

.lead_form, .feedback_form {
  left: 50%;
  position: absolute;
  top: 50%;
  width: 90%;
  text-align: center;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  /*width: 90%;*/
  /*height: 800px;*/
  /*position:absolute;*/
  /*left:0; right:0;*/
  /*top:0; bottom:0;*/
  /*margin:auto;*/
  /*max-width:100%;*/
  /*max-height:100%;*/
  /*overflow:auto;*/

}

.feedback_form .form_column_left, .feedback_form .form_column_right {
  width: 45%;
}

.button_area {
  position: absolute;
  bottom: -30px;
  right: 0;
  width: 200px;
}

.bottom_none {
  margin-bottom: 0;
}

.feedback_form .form_textarea {
  background-color: #464646;
  border-radius: 5px;
  color: #fff !important;
  width: 100%;
  height: 127px;
  padding-left: 15px;
  padding-top: 10px;
  margin-bottom: 25px;
  max-height: 127px;
  max-width: 100%;
}

.form_label {
  color: #fff;
  font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  text-align: left;
  width: 100%;
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
}

.scroll {
  transform: none !important;
}

.custom_toggle {
  background: none;
  border: none !important;
  height: 40px;

}

.toggle input:checked + .track {
  background-color: #00b0b7;
  border-color: #00b0b7;
}

.select_label {
  color:#fff;
  font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  width: auto;
  font-size: 14px;
}

.switch_container {
  width: 100%;
  float: left;
}

.switch_container .form_label {
  width:70%;
  float: left;
}

.switch_container .custom_toggle {
  float: right;
}

.date_container {
  margin-top: 10px;
  width: 45%;
  float: left;
  margin-right: 4%;
}

.slider-slide {
  height: 100vh
}

.slider_background {
  width: 100%;
  height: 100%;
  background: url('../img/app_background.jpg');
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;

}
